*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

#bgImage{   
    background-image: url("./assets/weatherBackImages/clear-day");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    padding: 20px 50px;
    

}
.layout{
    display: flex;

}
.leftSide{
   
    background-color: #fafdff;
    opacity: 60%;
    /* width: 20%; */
    

}

.weatherIcon{
    display: flex;
    justify-content: center;
}
.weatherIcon img{
    height: 140px;
    width:150px;
}
.temperatureDate{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 20px;
    margin-left: 10px;
}
.temperture p{
    font-size: xxx-large;
    margin-left: 10px;
    
}

.daytime p{
    font-size: large;
    margin-left: 10px;     
}
.line{
    height: 2px;
    width: 100%;
    background-color: rgb(232, 230, 230);
    
}

.cloud{
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-left: 40px;
}
precp{
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-left: 40px;
}

.location{
    display: flex;
    gap: 23px;
    justify-content: center;
    /* align-items:flex-end;
    height: 100%; */
    margin-top: 310vh;
    
}
.rightSide{
    
    background-color: #f6f6f8;
    width: 90%;
    
}
.heading ul{
    display: flex;
    gap: 10px;
    padding: 20px 50px;
    font-weight: bold;
    list-style-type:none ;  

    
}
.heading a{
    text-decoration: none;
    color: black;

}   
.heading span{
    
    background-color: rgb(249, 252, 247);
    border-radius: 40%;
    margin-left: 700px;
    font-size: large;
    cursor: pointer;
    padding: 5px;
      
}
.heading span:hover{
background-color: black;
color: white;
}
.heading pre{
    
    background-color: rgb(254, 251, 251);
    border-radius: 40%;
    font-size: larger;
    cursor: pointer;
    /* padding: 5px; */


}
.heading pre:hover{
    background-color: black;
    color: white;
    }








